<%- include('partials/header'); -%>
<main>
    <h2>About</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque quo eveniet. Amet pariatur ratione vitae ex aliquid voluptate accusantium illo dolorum dolorem eum, ullam ut. Eaque saepe numquam consequatur?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nihil nemo molestiae!</p>

    <h3>Lorem ipsum dolor sit.</h3>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, aspernatur.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. In!</li>
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel necessitatibus vitae libero officiis.</li>
    </ul>

    
</main>


<%- include('partials/footer'); -%>