<%- include('partials/header') %>

<main>
    <h2>Home</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nihil nemo molestiae!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga blanditiis possimus maxime dolore dolorem incidunt, harum, provident est nisi quam odio, voluptas sapiente earum facere soluta dignissimos ea recusandae sed.</p>

    <a href="/about" class="see">See all</a>
</main>

<%- include('partials/footer') %>